compile_commands.json

#clang-d
.cache

# ide files
.zed
.idea

# linux object files
*.a
*.o
*.os

#goc
goc
.goc
.goc_tests
.goc_project
*.h.generated
*.cpp.generated
*.generated.h
*.generated.cpp
.generated

#scon
.sconsign.dblite
__pycache__

# Build folders
cmake*
build
