compile_commands.json

#clang-d
.cache

# ide files
.zed
.idea

# linux object files
*.a
*.o
*.os

# Ignore generated commit hash
commit_hash.cpp

#goc
goc
.goc
.goc_tests
-.goc_project

#docs
docs/generated_files/godot_object_compiler

#scon
.sconsign.dblite
__pycache__

# Build folders
cmake*
build
.vscode
docs/_build
