@media only screen and (min-width: 769px) {
    .wy-body-for-nav {
        /* Center the page on wide displays for better readability */
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 769px) {
    .wy-nav-side {
        /* Required to center the page on wide displays */
        left: inherit;
    }
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("fonts/JetBrainsMono-Regular.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("fonts/JetBrainsMono-Medium.woff2");
}

/* Default (light) theme colors */
:root {
    color-scheme: light dark;

    --sans-serif-font-family:
        "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    --monospace-font-family:
        "JetBrains Mono", SFMono-Regular, Menlo, Monaco, Consolas,
        Liberation Mono, Courier New, Courier, monospace;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 17pt;
}

h3 {
    font-size: 14pt;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--sans-serif-font-family);
}

.admonition {
    box-shadow: 0px 8px 24px -4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

:is(.highlight-CMake, .highlight-C\+\+, .highlight-bash, .highlight-sh) {
    font-family: var(--monospace-font-family);
    box-shadow: 0px 8px 24px -4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.admonition-title {
    border-radius: 10px 10px 0px 0px;
}

.highlight span {
    font-family: var(--monospace-font-family);
    font-size: 10pt;
}

p {
    font-size: 12pt;
    margin-left: 10px;
    font-family: var(--sans-serif-font-family);
}
